/* KEYFRAMES */
@keyframes bobUpDown1 {
    from {
        bottom: -21%;
    }
    to {
        bottom: -25%;
    }
}
@keyframes bobUpDown2 {
    from {
        top: 35%;
    }
    to {
        top: 40%;
    }
}
@keyframes rotate-counterclockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes circle-x {
    to {
        background-position: -60px 60px;
    }
}

@keyframes diamond-1 {
    from {
        top: 99.5%;
    }
    to {
        top: 103%;
    }
}

@keyframes diamond-2 {
    from {
        top: 104.8%;
    }
    to {
        top: 109.3%;
    }
}

@keyframes diamond-main {
    from {
        top: 102.5%;
    }
    to {
        top: 107%;
    }
}

@keyframes arrow-1 {
    from {
        top: -15px;
    }
    to {
        top: 0px;
    }
}

@keyframes arrow-2 {
    from {
        top: 7px;
    }
    to {
        top: 22px;
    }
}

@keyframes arrow-3 {
    from {
        top: 30px;
    }
    to {
        top: 45px;
    }
}

@keyframes red-circle {
    from {
        top: 78px;
    }
    to {
        top: 93px;
    }
}