@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "animations.css";

html {
  scroll-behavior: smooth;
}

/* colors */
.purple {
  color: #C64D9C;
}

.green {
  color: #74C044;
}

.blue {
  color: #67CADA;
}

.yellow {
  color: #EAE71F;
}

.orange {
  color: #FB810B
}

.red {
  color: #D40936
}

/* colors */

/* font */
p,
div {
  font-size: 35px;
  font-weight: 100;
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 40px;
  transition: 0.5s;
}

/* font */


body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #121111;
  margin: 0px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

header {
  position: absolute;
  top: 1.5%;
  width: 100%;
  height: 200px;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.nav ul {
  margin-right: 2%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;

}

.slogan {
  text-align: center;
}

.logo {
  height: 75px;
}

.home {
  margin-left: 2%;
}

.main {
  min-height: 500px;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(18, 17, 17, 0) 0%, rgba(18, 17, 17, 1) 100%), url("assets/hero-img.png");
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.foreground-image {
  position: absolute;
  top: 115px;
}

.foreground-image img {
  height: 65vh;
  transition: 0.5s;
}

.v-line-separator {
  background-color: #FFFFFF;
  width: 2px;
  height: 130px;
}

.negative-margin-top {
  margin-top: -90px;
  z-index: 2;
}

.p2 {
  font-weight: 100;
}

.about {
  position: relative;
}

.about h1 {
  padding-top: 15%;
}

div#circle-x {
  height: 160px;
  width: 160px;
  background: url('./assets/background-images/x.png') repeat;
  border-radius: 100%;
  background-size: 15px 15px;
  animation: circle-x 4s linear infinite;
  position: absolute;
  top: 21px;
  left: 7%;
}

div#circle-broken {
  height: 126px;
  width: 126px;
  background: url('./assets/background-images/circle-broken.png');
  background-size: contain;
  animation: rotate-clockwise 60s linear infinite;
  position: absolute;
  top: 15px;
  left: 5%;
}

/* .vector-img1 {
  position: absolute;
  top: -10px;
  left: -95px;
  height: 220px;
} */

.vector-img2 {
  position: absolute;
  left: 90%;
  height: 230px;
  top: 82%;
}

div.box {
  width: 75px;
  height: 75px;
  border: 3px solid #FFD303;
  right: 2%;
  position: absolute;
}


div.diamond {
  right: 2%;
  rotate: 45deg;
}

div.diamond-1 {
  animation: diamond-1 3s infinite alternate ease-in-out;
}

div.diamond-2 {
  animation: diamond-2 3s infinite alternate ease-in-out;
  animation-delay: 800ms;
  top: 104.8%;
}

div.diamond-main {    
  background-color: #B40481;
  border-width: 0;
  right: 2.2% !important;
  animation: diamond-main 3s infinite alternate ease-in-out;
  animation-delay: 300ms;
}

div.smallbox {
  top: 82%;
  margin-left: 67px;
  height: 13px;
  width: 13px;
  border-width: 1px;
}

div.smallbox-1 {
  top: 82%;
  border-color: #EE3E4D;
  animation: rotate-counterclockwise 20s infinite linear;
}

div.smallbox-2 {
  margin-top: 23px;
  animation: rotate-counterclockwise 20s infinite linear;
  animation-delay: 300ms;
}

div.smallbox-3 {
  margin-top: 46px;
  border-color: #B40481;
  animation: rotate-counterclockwise 20s infinite linear;
  animation-delay: 100ms;
}

div.smallbox-4 {
  margin-top: 69px;
  border-color: #9ABF1A;
  animation: rotate-counterclockwise 20s infinite linear;
  animation-delay: 500ms;
}

.work-line-1 {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  margin-top: 12%
}

section {
  width: 80vw;
  padding: 0 10vw 0 10vw;
}

.workTab {
  overflow: hidden;
  /* background-color: #121111; */
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.workTab button {
  background-color: inherit;
  border: solid 1px white;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  font-size: 20px;
  border-radius: 25px;
  color: white
}

.workTab button:hover {
  background-color: #FFFFFF;
  color: #121111;
}

.workTab button.active {
  background-color: #FFFFFF;
  color: #121111;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 30px;
}

div div.container:not(:first-of-type) {
  display: none;
}

.prod_photo {
  width: 35%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.prod_photo:hover {
  opacity: 0.7;
}

.brand_identity {
  width: 35%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.brand_identity:hover {
  opacity: 0.7;
}

.prod_des {
  width: 35%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.prod_des:hover {
  opacity: 0.7;
}

.event {
  width: 35%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.event:hover {
  opacity: 0.7;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.work-line-2 {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  margin-top: 12%
}

.callToAction {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 30px;
  margin-top: 55px;
}

.vector-img3 {
  position: absolute;
  height: 120px;
  top: 0;
  left: -12%;
}

.arrow {
  border-style: solid;
  border-width: 0 3px 3px 0;
  position: absolute;
  padding: 3px;
  width: 20px;
  height: 20px;
  left: 0.5%;
  rotate: 45deg;
}

.arrow-1 {
  border-color: #FFD303;
  top: -15px;
  animation: arrow-1 1.5s infinite alternate ease-in-out;
}

.arrow-2 {
  border-color: #B40481;
  top: 7px;
  animation: arrow-2 1.5s infinite alternate ease-in-out;
  animation-delay: 250ms;
}

.arrow-3 {
  border-color: #9ABF1A;
  top: 30px;
  animation: arrow-3 1.5s infinite alternate ease-in-out;
  animation-delay: 500ms;
}

.red-circle {
  height: 35px;
  width: 35px;
  border: solid 4px #D40936;
  border-radius: 100%;
  position: absolute;
  left: 0%;
  top: 78px;
  animation: red-circle 1.5s infinite alternate ease-in-out;
  animation-delay: 600ms;
}

.vector-img4 {
  position: absolute;
  height: 120px;
  top: 35%;
  right: 10%;
  transition: 1s;
  animation:
    rotate-counterclockwise 100s infinite linear;
}

.vector-img5 {
  position: absolute;
  height: 100px;
  left: 3%;
  bottom: -15%;
}

.vector-img6 {
  position: absolute;
  height: 40px;
  bottom: -16%;
  left: 45.9%;
}

.vector-img7 {
  position: absolute;
  height: 140px;
  /* bottom: -21%; */
  right: 0;
  animation-name: bobUpDown1;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.form {
  max-width: 500px;
}

input[type=text] {
  width: 95%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #121111;
  border-bottom: solid 1px white;
  font-size: 20px;
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
  opacity: 25%;
}

input:focus::placeholder {
  transition: 0.3s;
  opacity: 5%;
}

input[type=text]:focus {
  background-color: #121111;
  outline: none;
  color: #FFFFFF;
}

#formButton {
  background-color: #121111;
  color: white;
  padding: 16px 20px;
  border: solid 2px white;
  cursor: pointer;
  width: 95%;
  opacity: 0.9;
  border-radius: 30px;
  margin-top: 35px;
}

#myBtn:hover {
  background-color: #FFFFFF;
  color: #121111;
}

#formModal, #portfolioModal {
  display: none;
  text-align: center;
}

#portfolioImg {
  width: 80vw;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-message-box {
  margin-top: 10%;
  margin-left: 30%;
  padding: 20px;
  width: 40%;
  background-color: #121111;
  border-radius: 10px;
  color: #FFFFFF;
  border: solid 1px white;
}

.modal-message {
  font-size: 20px;
  text-align: center;
}

.close {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  top: 1vw;
  position: fixed;
  right: 3vw;
}

#closeFormBtn {
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: unset;
}

.close:hover,
.close:focus {
  color: #EAE71F;
  text-decoration: none;
  cursor: pointer;
}

.Contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  max-width: 60%;
}

.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line1 {
  font-size: 30px;
}

.line2 {
  font-size: 20px;
  margin-left: 140px;
}

.line3 {
  font-size: 20px;
}

.scrollUp {
  font-size: 20px;
  margin-top: 170px;
  margin-bottom: 55px;

}

.scrollUp a {
  color: #FFFFFF;
  text-decoration: underline;

}

.footer {
  background-color: #121111;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 1px white;
  font-size: 15px;
  font-weight: 500;
}

.Team {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  margin-top: 9%;
  width: 100%;
  text-align: center;
}

.teamMembers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-left: 35px;
  flex-wrap: wrap;
}

.teamName {
  display: flex;
  margin-top: 25px;
}

.team-container {
  display: flex;
  flex-direction: column;    
  align-items: center;
  gap: 20px;
  width: 25%;
}

.team-container img {
  object-fit: contain;
  height: 50%;
  width: 50%;
}

.team-name {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  font-size: 19px;
}

#hamburger {
  display: none;
}

#hamburger-trigger {
  display: none;
}

@media only screen and (max-width: 800px) {
  header {
    top: 0%;
  }

  .home {
    margin-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .nav {
    width: 100%;
    position: fixed;
    flex-direction: row-reverse
  }

  #hamburger {
    display: block;
  }

  .lbl-trigger {
    display: inline-block;
    right: 0;
    top: 15px;
    transform: unset;
    position: fixed;
    z-index: 1;
  }

  .Team {
    margin-top: 120px;
  }
  
  .teamMembers {
    flex-direction: column;
  }

  .team-container {
    width: unset;
  }

  .nav ul {
    display: none;
    flex-direction: column;
    width: 50%;
    background: black;
    height: 100vh;
    z-index: 1;
  }

  .nav ul li {
    text-align: right;
    padding:  20px 0px 20px 0px;
    border-bottom: 1px white solid;
  }

  .nav ul li:first-child {
    margin-top: 30px;
  }

  .nav ul li:last-child {
    border-bottom: none;
  }

  #hamburger-trigger:checked ~ .nav ul {
    display: flex;
  }
  #hamburger-trigger:checked ~ #cover-screen {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
    position: absolute;
  }

  :has(#hamburger-trigger:checked) body > *:not(header)  {
    filter: blur(0.5rem);
  }

  :has(#hamburger-trigger:checked) .lbl-trigger {
    right: 50%;
    transform: translateX(50px);
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
  }

  p, div {
    font-size: 28px;
  }

  .foreground-image img {
    width: 50vw;
    height: unset;
  }

  .main {
    height: 80vh;
  }

  .workTab button {
    padding: 11px 13px;
    font-size: 16px;
    margin: 5px;
  }
  
  .container img {
    width: 50%;
  }

  .callToAction {
    margin-left: unset;
    margin-right: unset;
  }

  .Contact {
    max-width: unset;
    flex-direction: column;
    gap: 20px;
  }

  .line2{
    margin-left: unset;
  }

  .line2, .line3 {
    text-align: center;
  }

  div#circle-x {
    height: 128px;
    width: 128px;
    top: -34px;
    z-index: -1;
  }

  div#circle-broken {
    height: 101px;
    width: 101px;
    top: -40px;
  }

  .vector-img3 {
    left: -10%
  }

  .vector-img4 {
    height: 96px;
    top: 17%;
    right: 2%;
  }

  .vector-img5 {
    height: 80px;
    left: -5%;
    bottom: -22%;
  }
}

@media only screen and (max-width: 500px) { 
  div.box {
    width: 30px;
    height: 30px;
  }
  
  div.smallbox {
    height: 9px;
    width: 9px;
  }
  
  .main {
    height: unset;
  }
  
  .workTab {
      flex-wrap: wrap;
  }

  .vector-img4 {
    height: 50px;
  }
}